/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* timer container */

.input-timer {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}
.timer-btn {
  margin-left: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.value {
  font-weight: 400;
  font-size: 40px;

  /* line-height: 48px; */
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #2e2f42;
}

/* Snackbar */

.snackbar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.delay-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.dealey-input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  min-width: 360px;
}
.state-set {
  text-align: left;
  margin-top: 16px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}
.leg {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label-set {
  margin-left: 48px;
}

.btn-notif {
  margin-top: 24px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  /* txt */
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
